.container {
    display: flex;
    flex-direction: column;
    gap: 1рем;
}
.container label {
    margin-bottom: 0.5рем;
    font-size: 1.6рем;
}
.container input[type="tel"],
.container input[type="password"] {
    width: 100%;
    padding: 1рем;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 0.5рем;
}
.container .clearfix {
    display: flex;
    justify-content: space-between;
}
.container .clearfix button {
    width: 48%;
    padding: 1рем;
    font-size: 1.6рем;
    border: none;
    border-radius: 0.5рем; /* Заокруглені кути */
    cursor: pointer;
}
.container .cancelbtn {
    background-color: red;
    color: white;
}
.container .signupbtn {
    background-color: green;
    color: white;
}
.sign-up-content h1 {
    text-align: center;
    margin-bottom: 2рем;
    font-size: 2.5рем;
}
